@charset "utf-8";

@import "bourbon";
@import "base/base";

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    color: $white;
    font-size: 1em;
    line-height: 1.4;
    box-sizing: border-box;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    background: radial-gradient(ellipse farthest-corner, rgba(0,0,0,0), rgba(0,0,0,0.6)), image-url("rock-texture.svg"), gray;
}

main {
    max-width: 1280px;
    min-height: 60vh;
    padding: 20px;
    margin: auto;
}

footer {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    .colombia-flag-bar {
        width: 100%;
        margin: 0 auto;
        height: 3px;
        &:before {
            height: 3px;
        }
        &:after {
            height: 3px;
        }
    }
}

header {
    max-width: 1280px;
    margin: auto;
}

section {
    margin-bottom: 20px;
}

.container {
    @include display(flex);
    @include justify-content(space-around);
    @include flex-flow(row wrap);
    padding: 20px;
}

.language-change {
    text-align: right;
    margin: 10px 50px 0 0;
}

.logo {
    @include flex(25%);
    @include order(1);
    align-self: center;
    max-width: 300px;
    min-width: 250px;
    text-align: center;
    margin-bottom: 25px;
}

nav {
    @include flex(70%);
    @include order(2);
    @include align-self(center);
    @include justify-content(space-around);
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 0px 25px;
    vertical-align: middle;
    line-height: 1.2;
    font-size: 0.8em
}

nav li a {
    font-weight: bold;
    text-transform: uppercase;
    @include word-wrap(normal);
}

.colombia-flag-bar {
    margin: 0 0;
    height: 6px;
    width: 300px;
    background-color: $flag-blue;
    &:before {
        content: "  ";
        height: 6px;
        float: left;
        width: 50%;
        background-color: $flag-yellow;
    }
    &:after {
        content: "  ";
        height: 6px;
        float: right;
        width: 25%;
        background-color: $flag-red;
    }
}

.tagline {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: hsla(182,96,16,0.8);
    color: white;
    text-transform: uppercase;
    padding: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 200%;
    margin: 0;
}

.hero-slider {
    margin: 0 auto 50px auto;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
}

.photo {
    position: absolute;
    animation: round 16s infinite;
    opacity: 0;
}

@include keyframes(round){
    25%{ opacity:1; }
    40%{ opacity:0; }
}

img:nth-child(4){ animation-delay:0s; }
img:nth-child(3){ animation-delay:4s; }
img:nth-child(2){ animation-delay:8s; }
img:nth-child(1){ animation-delay:12s; }

.mission-statement {
    @include flex-wrap(wrap-reverse);
    background: no-repeat top/100% image-url("line_separator.png");
    padding: 10px 20px 0;
    aside {
        @include flex(38%);
        @include align-self(center);
        @include order(2);
        text-align: center;
        padding: 0;
        margin: 0 0 20px 15px;
    }

    article {
        @include flex(60%);
        @include order(1);
    }

    h2 {
        font-size: 3em;
        margin-left: 15px;
        margin-bottom: 0.5em;
    }

    p {
        padding: 20px;
        font-size: 1.3em;
        line-height: 1.5;
        text-align: justify;
    }

    p.highlight {
        margin-bottom: 1.5em;
    }
}

.why-attend {
    margin-top: 40px;
    background: no-repeat top/100% image-url("line_separator.png");
    padding-top: 30px;
    .title {
        @include flex(25%);
        @include order(2);
        @include align-self(center);
        max-width: 20em;
        min-width: 15em;
        margin: 0 10px;
        h1 {
            text-align: center;
            font-size: 3em;
        }
    }

    li {
        margin-bottom: 35px;
        font-size: 1.1em;
        line-height: 1.4;
        text-align: left;
    }

    .left-reasons {
        @include flex(34%);
        @include order(1);
        margin: 0 10px;
        max-width: 30em;
        min-width: 15em;
    }

    .right-reasons {
        @include flex(34%);
        @include order(3);
        margin: 0 10px;
        max-width: 30em;
        min-width: 15em;
    }
}

.contacts {
    @include justify-content(center);
    font-size:  0.9em;
    line-height: 1;
    margin-bottom: 0;
}

.hotel .contacts {
    flex: 100%;
    ul  {
       margin: 2em 0 0.6em 0;
        text-align: center;
        line-height: 1.5;
    }
    li  {
        margin: 10px 20px;
        vertical-align: middle;
        display: inline-block;
        font-size: 1.5em;
    }
}

.map {
    display: inline-block;
    text-align: center;
    max-width: 600px;
    min-width: 450px;
}

.hotel-info {
    margin-top: 1.5em;
    font-size: 1.5em;
    line-height: 1.5;
}

.details {
    text-align: right;
    font-weight: bold;
    margin: 10px 30px 0 0;
}

.aditional-contacts {
    @include align-self(center);
    margin: 0 0 0 30px;
    li {
        margin-bottom: 20px;
        text-align: right;
    }
}

.device-logo {
    margin: 0 10px;
}

.sponsors, .organizers {
    @include flex(100%);
    background-color: $white;
    li {
        display: inline-block;
        margin: 5px 20px;
        @include align-self(center);
    }
    &.container {
        @include justify-content(space-around);
        padding: 0 5px;
    }
}

.registration {
    @include flex-flow(column nowrap);
}

.flash-note {
    text-align: center;
    font-size: 1em;
    padding: 15px;
}

.form-gateway {
    h1 {
        font-size: 2em;
    }
    @include flex(50%);
    text-align: center;
    max-width: 50%;
    button {
        display: block;
        border: 3px solid $white;
        margin: 20px auto;
        font-size: 1.8em;
        padding: 50px;
        width: 70%;
        background-color: $active-translucid;
        &:hover, &:focus {
            background-color: lighten($active-translucid, 15%);
        }
    }
}

.right-separator {
    border-right: 2px solid $white;
}

.form {
    & > aside {
        @include flex(30%);
        @include align-self(center);
        text-align: center;
    }
    & > article {
        @include flex(70%);
        background-color: $highlight;
        padding: 20px;
    }
    label {
        display: block;
    }
    select {
        margin-right: 5px;
    }
    .title {
        margin-bottom: 80px;
    }

    .submit-payment {
        padding: 0.8em 1em;
        background-image: linear-gradient(180deg, $active-bubble 25%, darken($active-bubble, 14%));
        margin: 10px 0;
        border-radius: 15px;
        width: 300px;
        height: 70px;
    }

    .inlined {
        display: inline;
    }

    .half-right {
        display: inline-block;
        width: 49%;
        margin-right: 2px;
    }

    .half-left {
        display: inline-block;
        width: 49%;
    }

    .datefield {
        width: 28%;
    }
}

.tracks, .speakers {
    h1 {
        text-align: center;
        font-size: 4em;
    }

    h2 {
        font-size: 3em;
        padding: 30px;
        width: 350px;
        border-radius: 25px;
    }
}

.speakers {
    .container {
        @include align-items(center);
    }
    .speaker {
        width: 370px;
        height: 150px;
        border-radius: 35px;
        text-align: center;
        padding: 20px 10px;
        margin-bottom: 20px;
        h3 {
            font-size: 1.6em;
            margin: 0;
        }
        h4 {
            font-size: 1.2em;
            font-weight: 400;
            margin-bottom: 10px;
        }
        h5 {
            font-size: 1em;
            font-weight: 400;
        }
    }
}

.recommended {
    text-align: center;
    margin-bottom: 60px;
    nav {
        margin-bottom: 20px;
        ul{
            @include display(flex);
            @include justify-content(space-around);
        }

        li {
            color: $active-bubble;
            font-weight: 700;
            font-size: 4em;
        }

        a {
            color: $white;
        }
    }
    h6 {
        font-weight: normal;
    }
}

.hotel, .plan {
    width: 90%;
    padding: 10px;
    margin: 0 auto 4em;
    background-color: $highlight;
    @include display(flex);
    @include justify-content(space-around);
    @include align-items(center);

    aside {
        @include flex(35%);
        text-align: center;
        margin: 0;
        margin-top: 5px;
        margin-right: 10px;
    }

    section {
        @include flex(60%);
    }
}

/* Flexbox Grid System  */
.grid {
    @include display(flex);
    @include flex-wrap(wrap);
    list-style: none;
    margin: 0;
    padding: 0;
    & > section {
        @include flex(50%);
        padding: 20px;
    }
    & > .grid-1of4 {
        @include flex(23%);
    }
    & > .grid-3of4 {
        @include flex(73%);
    }
    & > .grid-1of2 {
        @include flex(48%);
    }
    & > .grid-1of3 {
        @include flex(32%);
    }
}
