@charset "utf-8";

@import "bourbon";
@import "base/base";

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    color: $white;
    font-size: 1em;
    line-height: 1.5;
    box-sizing: border-box;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: em(1);
    border: 0;
    border-top: em(1) solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
========================================================================== */

body {
    font: em(16) Helvetica, Helvetica Neue, Arial;
    background: radial-gradient(ellipse farthest-corner, rgba(0,0,0,0), rgba(0,0,0,0.6)), image-url("rock-texture.svg"), gray;
}

main {
    max-width: $max-page-width;
    min-width: $min-page-width;
    min-height: 60vh;
    padding: em(20);
    margin: auto;
}

footer {
    max-width: $max-page-width;
    min-width: $min-page-width;
    margin: 0 auto;
    text-align: center;
    .colombia-flag-bar {
        width: 100%;
        margin: 0 auto;
        height: em(3);
        &:before {
            height: em(3);
        }
        &:after {
            height: em(3);
        }
    }
}

header {
    max-width: $max-page-width;
    min-width: $min-page-width;
    margin: auto;
    .container {
        padding: 0 em(20) 0;
        margin-bottom: 0;
    }
}

section {
    margin-bottom: em(20);
}

.container {
    @include display(flex);
    @include justify-content(space-around);
    @include flex-flow(row wrap);
    padding: em(20);
}

.language-change {
    text-align: right;
    margin: em(10) em(50) 0 0;
}

.logo {
    @include flex(25%);
    @include order(1);
    align-self: center;
    max-width: em(300);
    min-width: em(250);
    text-align: center;
    margin-bottom: em(25);
}

nav {
    @include flex(70%);
    @include order(2);
    @include align-self(center);
    @include justify-content(space-around);
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 em(0) em(25);
    vertical-align: middle;
    line-height: 1.2;
    font-size: 0.8em
}

nav li a {
    font-weight: bold;
    text-transform: uppercase;
    @include word-wrap(normal);
}

.colombia-flag-bar {
    margin: 0 0;
    height: em(6);
    width: em(300);
    background-color: $flag-blue;
    &:before {
        content: "  ";
        height: em(6);
        float: left;
        width: 50%;
        background-color: $flag-yellow;
    }
    &:after {
        content: "  ";
        height: em(6);
        float: right;
        width: 25%;
        background-color: $flag-red;
    }
}

.tagline {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: hsla(182,96,16,0.8);
    color: white;
    text-transform: uppercase;
    padding: em(10);
    font-weight: bold;
    text-align: center;
    font-size: 200%;
    margin: 0;
}

.hero-slider {
    margin: 0 auto em(50) auto;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
}

.photo {
    position: absolute;
    animation: round 16s infinite;
    opacity: 0;
}

@include keyframes(round){
    25%{ opacity:1; }
    40%{ opacity:0; }
}

img:nth-child(4){ animation-delay:0s; }
img:nth-child(3){ animation-delay:4s; }
img:nth-child(2){ animation-delay:8s; }
img:nth-child(1){ animation-delay:12s; }

.mission-statement {
    @include flex-wrap(wrap-reverse);
    background: no-repeat top/100% image-url("line_separator.png");
    padding: em(20) em(20) 0;
    aside {
        @include flex(38%);
        @include align-self(center);
        @include order(2);
        text-align: center;
        padding: 0;
        margin: 0 0 em(20) em(15);
    }

    article {
        @include flex(60%);
        @include order(1);
    }

    h2 {
        font-size: 3em;
        margin-left: em(15);
        margin-bottom: 0.5em;
    }

    p {
        padding: em(20);
        font-size: 1.3em;
        line-height: 1.5;
        text-align: justify;
    }

    p.highlight {
        margin-bottom: 1.5em;
    }
}

.why-attend {
    margin-top: em(40);
    background: no-repeat top/100% image-url("line_separator.png");
    padding-top: em(30);
    .title {
        @include flex(25%);
        @include order(2);
        @include align-self(center);
        max-width: 20em;
        min-width: 15em;
        margin: 0 em(10);
        h1 {
            text-align: center;
            font-size: 3em;
        }
    }

    li {
        margin-bottom: em(35);
        font-size: 1.1em;
        line-height: 1.4;
        text-align: left;
    }

    .left-reasons {
        @include flex(34%);
        @include order(1);
        margin: 0 em(10);
        max-width: 30em;
        min-width: 15em;
    }

    .right-reasons {
        @include flex(34%);
        @include order(3);
        margin: 0 em(10);
        max-width: 30em;
        min-width: 15em;
    }
}

.contacts {
    @include justify-content(center);
    font-size:  0.9em;
    line-height: 1;
    margin-bottom: 0;
}

.hotel .contacts {
    flex: 100%;
    ul  {
        margin: 2em 0 0.6em 0;
        text-align: center;
        line-height: 1.5;
    }
    li  {
        margin: em(10) em(15);
        vertical-align: middle;
        display: inline-block;
        font-size: 1.5em;
    }
}

.map {
    display: inline-block;
    text-align: center;
    max-width: em(600);
    min-width: em(450);
}

.hotel-info {
    margin-top: 1.5em;
    font-size: 1.5em;
    line-height: 1.5;
}

.details {
    text-align: right;
    font-weight: bold;
    margin: em(10) em(30) 0 0;
}

.aditional-contacts {
    @include align-self(center);
    margin: 0 0 0 em(30);
    li {
        margin-bottom: em(20);
        text-align: right;
    }
}

.device-logo {
    margin: 0 em(10);
}

.sponsors, .organizers {
    @include flex(100%);
    background-color: $white;
    li {
        display: inline-block;
        margin: em(5) em(20);
        @include align-self(center);
    }
    &.container {
        @include justify-content(space-around);
        padding: 0 em(5);
    }
}

.registration {
    @include flex-flow(column nowrap);
}

.flash-note {
    text-align: center;
    font-size: 1em;
    padding: em(15);
}

.form-gateway {
    min-width: em(345);
    h1 {
        font-size: 2em;
    }
    @include flex(50%);
    text-align: center;
    button {
        display: block;
        border: em(3) solid $white;
        margin: em(20) auto;
        font-size: 1.8em;
        padding: em(20) em(50);
        width: auto;
        background-color: $active-translucid;
        &:hover, &:focus {
            background-color: lighten($active-translucid, 15%);
        }
    }
}

.right-separator {
    border-right: em(2) solid $white;
    @include media(max-width em(860)) {
        border-right: 0px;
    }
}

.form {
    margin-top: em(50);
    & > aside {
        @include flex(30%);
        @include align-self(center);
        min-width: em(250);
        text-align: center;
        z-index: -2;
    }
    & > article {
        @include flex(70%);
        background-color: $form-background;
        padding: em(20);
        position: relative;
        .limited-ribbon  {
            position: absolute;
            background: $active-bubble;
            top: -46px;
            right: -20px;
            padding: em(15) em(20);
            text-align: left;
            font-weight: 900;
            text-transform: uppercase;
            z-index: -1;
        }
        .limited-ribbon:before{
            content: "";
            border: em(12) solid;
            border-color: $highlight transparent transparent $highlight;
            position: absolute;
            top: 46px;
            right: 0px;
        }
    }
    label {
        display: block;
    }
    select {
        margin-right: em(5);
    }
    .title {
        margin-bottom: em(80);
    }

    .address-fields {
        margin-top: 0.75em;
    }

    .submit-payment {
        padding: 0.8em 1em;
        background-image: linear-gradient(180deg, $active-bubble 25%, darken($active-bubble, 14%));
        margin: em(10) 0;
        border-radius: em(15);
        max-width: em(300);
        min-height: em(70);
    }

    .field-group {
        min-width: em(360);
    }

    .inlined {
        display: inline;
    }

    .half-right {
        display: inline-block;
        max-width: 49%;
        min-width: em(160);
        margin-right: em(2);
    }

    .half-left {
        display: inline-block;
        min-width: em(160);
        max-width: 49%;
    }

    .datefield {
        width: 28%;
    }
}

.center-text {
    text-align: center;
}

.tracks, .speakers {
    h1 {
        text-align: center;
        font-size: 4em;
    }

    h2 {
        font-size: 2em;
        padding: em(10) em(15);
        border-radius: em(10);
        &:hover {
            color: darken($white, 25%);
        }
    }

    .track-links li {
        display: inline-block;
    }

    .track-content {
        margin: 1em auto 4em;
        width: 80%;
        ul {
            list-style-type: disc;
            padding-left: em(25);
            text-indent: em(5);
        }
        li {
            text-align: justify;
        }
    }
}

.speakers {
    .accordion-tabs {
        @include clearfix;
        line-height: 1.5;
        margin-bottom: $base-spacing;
        padding: 0;

        @include media(max-width $tab-mode) {
            border-radius: $tab-border-radius;
            border: $tab-border;
        }

        .tab-header-and-content {
            list-style: none;

            @include media($tab-mode) {
                display: inline;
            }

            &:first-child .tab-link {
                border-top-left-radius: $tab-border-radius;
                border-top-right-radius: $tab-border-radius;

                @include media(max-width $tab-mode) {
                    border-top: 0;
                }
            }

            &:last-child .tab-link {
                @include media(max-width $tab-mode) {
                    border-bottom-left-radius: $tab-border-radius;
                    border-bottom-right-radius: $tab-border-radius;
                }
            }
        }

        .tab-link {
            background-color: $tab-inactive-color;
            border-top: $tab-border;
            color: $white;
            display: block;
            font-size: 1.5em;
            font-weight: bold;
            padding: 1em 2em 0.5em;
            text-transform: uppercase;
            text-decoration: none;

            @include media($tab-mode) {
                @include inline-block;
                border-top-left-radius: $tab-border-radius;
                border-top-right-radius: $tab-border-radius;
                border-top: 0;
            }

            &:hover {
                color: $action-color;
            }

            &:focus {
                outline: none;
            }

            &.is-active {
                background-color: $tab-active-background;

                @include media($tab-mode) {
                    background-color: $tab-active-background;
                    // border: $tab-border;
                    border-bottom-color: $tab-active-background;
                    margin-bottom: -em(1);
                }
            }
        }

        .tab-content {
            background: $tab-active-background;
            display: none;
            padding: $base-spacing $gutter;
            width: 100%;
            color: black;

            @include media($tab-mode) {
                border-bottom-left-radius: $base-border-radius;
                border-bottom-right-radius: $base-border-radius;
                border-top-right-radius: $base-border-radius;
                float: left;
            }
        }
    }
}

.container {
    @include align-items(center);
}
.speaker {
    width: em(370);
    height: em(150);
    border-radius: em(35);
    text-align: center;
    padding: em(20) em(10);
    margin-bottom: em(20);
    h3 {
        font-size: 1.6em;
        margin: 0;
    }
    h4 {
        font-size: 1.2em;
        font-weight: 400;
        margin-bottom: em(10);
    }
    h5 {
        font-size: 1em;
        font-weight: 400;
    }
}

.recommended {
    text-align: center;
    margin-bottom: em(60);
    nav {
        margin-bottom: em(20);
        ul{
            @include display(flex);
            @include justify-content(space-around);
        }

        li {
            color: $active-bubble;
            font-weight: 700;
            font-size: 4em;
        }

        a {
            color: $white;
        }
    }
    h6 {
        font-weight: normal;
    }
}

.hotel, .plan {
    width: 90%;
    padding: em(10);
    margin: 0 auto 4em;
    background-color: $form-background;
    @include display(flex);
    @include justify-content(space-around);
    @include align-items(center);

    aside {
        @include flex(35%);
        text-align: center;
        margin: 0;
        margin-top: em(5);
        margin-right: em(10);
    }

    section {
        @include flex(60%);
    }
}

.venue {
    background: no-repeat 50% 95%/95% image-url("ciudad_fondo.png");
    background-blend-mode: lighten;
}

/* Flexbox Grid System  */
.grid {
    @include display(flex);
    @include flex-wrap(wrap);
    list-style: none;
    margin: 0;
    padding: 0;
    & > section {
        @include flex(50%);
        padding: em(20);
    }
    & > .grid-1of4 {
        @include flex(23%);
    }
    & > .grid-3of4 {
        @include flex(73%);
    }
    & > .grid-1of2 {
        @include flex(48%);
    }
    & > .grid-1of3 {
        @include flex(32%);
    }
}
