@charset "utf-8";

@import "bourbon";
@import "base/base";

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    color: $white;
    font-size: 1em;
    line-height: 1.4;
    box-sizing: border-box;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    background: radial-gradient(ellipse farthest-corner, rgba(0,0,0,0), rgba(0,0,0,1)), $base_background;
}

main {
    width: 100%;
    padding: 20px;
}

footer {
    text-align: center;
}

header {
    margin-bottom: 50px;
}

section {
    margin-bottom: 20px;
}

.container {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    flex-flow: row wrap;
}

.logo {
    flex: 0 0 25%;
    order: 1;
    padding-top: 10px;
    padding-left: 10px;
    align-self: center;
}

nav {
    flex: 0 0 70%;
    order: 2;
    align-self: center;
    justify-content: space-around;
}

nav li {
    display: inline-block;
}

nav li a {
    font-weight: bold;
    text-transform: uppercase;
}

.landing-container {
    background: no-repeat center/cover url(image-path("canocristales.jpg"));
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    & > footer {
        text-align: left;
        background: rgba(0, 0, 0, 0.7);
        width: 300px;
    }
}

.colombia-flag-bar {
    margin: 0 0;
    height: 6px;
    width: 300px;
    background-color: $flag-blue;
    &:before {
        content: "  ";
        height: 6px;
        float: left;
        width: 50%;
        background-color: $flag-yellow;
    }
    &:after {
        content: "  ";
        height: 6px;
        float: right;
        width: 25%;
        background-color: $flag-red;
    }
}

.centered {
    margin: 0 auto;
}

.logos-container, .navigation {
    flex: 1;
}

.logos-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.tagline {
    text-align: center;
    background: hsla(182, 96, 16, 0.8);
    padding: 20px 50px;
    flex: 20%;
    margin-bottom: 45px;
}

.tagline h1 {
    align-self: center;
    font-size: 45px;
    font-weight: 700;

}

.upper-half {
    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 40px;
    a {
        margin: 0 1.5em;
    }
}

.lower-half {
    display: flex;
    justify-content: center;
}

.left-menu {
    margin-right: 20px;
    a {
        margin-bottom: 40px;
    }
}

.right-menu {
    margin-left: 20px;
    a {
        margin-bottom: 40px;
    }
}

.mission-statement {
    order: 1;
    display: flex;

    & > aside {
        flex: 40%;
        order: 1;
        align-self: center;
        text-align: center;
    }

    & > article {
        flex: 60%;
        order: 2;
    }

    h2 {
        font-size: 3em;
    }

    p {
        padding: 20px;
    }

    p.highlight {
        margin-bottom: 30px;
    }
    .right {
        display: block;
        float: right;
    }
}

.why-attend {
    order: 2;
    display: flex;
    margin-top: 50px;

    .title {
        flex: 30%;
        order: 2;
        align-self: center;
        h1 {
            text-align: center;
            font-size: 3em;
        }
        img {

        }
    }

    li {
        margin-bottom: 35px;
    }

    .left-reasons {
        flex: 35%;
        order: 1;
        padding-right: 10px;
    }

    .right-reasons {
        flex: 35%;
        order: 3;
        padding-left: 10px;
    }
}

.contact {
    justify-content: center;
    flex-flow: column;
    text-align: center;

    footer {
        height: 70px;
        background: no-repeat center/cover url(image-path("bottom_bg.png")); 
    }

    h1, .details {
        font-weight: bold;
        margin-top: 10px;
        font-size: 1.3em;
    }

    .aditional-contacts {
        align-self: center;
        li {
            margin-bottom: 40px;
            text-align: right;
            font-size: 1.3em;
        }
    }

    .device-logo {
        margin: 0 10px;
    }
}

.sponsors {
    flex: 100%;
    background-color: $white;
    img {
        margin: 5px;
        align-self: center;
    }
    &.container {
        justify-content: space-around;
    }
}

.flash-note {
    flex: 100%;
    text-align: center;
    font-size: 1em;
    padding: 15px;
}

.form-gateway {
    flex: 50%;
    text-align: center;
    button {
        display: block;
        margin: 20px auto;
        width: 200px;
        background-color: $active-translucid;
        &:hover, &:focus {
            background-color: lighten($active-translucid, 15%);
        }
    }
}

.right-separator {
    border-right: 5px solid $white;
}

.form {
    & > aside {
        flex: 30%;
        text-align: center;
        align-self: center;
    }
    & > article {
        flex: 70%;
        background-color: $highlight;
        padding: 20px;
    }
    label {
        display: block;
    }
    select {
        margin-right: 5px;
    }
    .title {
        margin-bottom: 80px;
    }

    .submit-payment {
        padding: 0.8em 1em;
        background-image: linear-gradient(180deg, $active-bubble 25%, darken($active-bubble, 14%));
        margin: 10px 0;
        border-radius: 15px;
        width: 300px;
        height: 70px;
    }

    .inlined {
        display: inline;
    }

    .half-right {
        display: inline-block;
        width: 49%;
        margin-right: 2px;
    }

    .half-left {
        display: inline-block;
        width: 49%;
    }

    .datefield {
        width: 28%;
    }
}

.tracks, .speakers {
    h1 {
        text-align: center;
        font-size: 4em;
    }

    h2 {
        font-size: 3em;
        padding: 30px;
        width: 350px;
        border-radius: 25px;
    }
}

.speakers {
    .container {
        align-items: center;
    }
    .speaker {
        width: 370px;
        height: 150px;
        border-radius: 35px;
        text-align: center; 
        padding: 20px 10px;
        margin-bottom: 20px;
        h3 {
            font-size: 1.6em;
            margin: 0;
        }
        h4 {
            font-size: 1.2em;
            font-weight: 400;
            margin-bottom: 10px;
        }
        h5 {
            font-size: 1em;
            font-weight: 400;
        }
    }
}

.recommended {
    text-align: center;
    margin-bottom: 60px;
    nav {
        margin-bottom: 20px;
        ul{
            display: flex;
            justify-content: space-around;
        }

        li {
            color: $active-bubble;
            font-weight: 700;
            font-size: 4em;
        }

        a {
            color: $white;
        }
    }
    h6 {
        font-weight: normal;
    }
}

.hotel, .plan {
    padding: 10px;
    margin-bottom: 20px;
    background-color: $highlight;
    display: flex;
    justify-content: space-around;
    align-items: center;

    aside {
        flex: 20%;
        margin: 0;
        margin-right: 10px;
    }

    section {
        flex: 40%;
        margin: 0;
    }
}

/* Flexbox Grid System  */
.grid {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    & > section {
        flex: 50%;
        padding: 20px;
    }
    & > .grid-1of4 {
        flex: 23%;
    }
    & > .grid-3of4 {
        flex: 73%;
    }
    & > .grid-1of2 {
        flex: 48%;
    }
    & > .grid-1of3 {
        flex: 32%;
    }
}
