.speech-bubble {
  position: relative;
  text-align: center;
  padding: 10px 15px;
  background-color: $base-bubble;
  color: $dark-gray;
  border-radius: 10px;
  box-shadow: 2px 2px 8px #000;
}

a.speech-bubble {
  display: block;
  color: #333;
  width: 140px;
  height: 50px;
  padding: 10px 5px;
  &.active {
    color: $white;
  }
}

// nav .speech-bubble {
//   width: 130px;
//   font-size: 0.8em;
//   a {
//     color: #333;
//   }
// }

.active {
  background-color: $active-bubble;
  color: $white;
}

.highlight {
  background-color: $highlight;
  color: $white;
}

.speech-bubble:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
}

.mid-bottom:before {
  left: 55px;
  bottom: -18px;
}

.left-bottom:before {
  left: 25px;
  bottom: -18px;
}

.right-bottom:before {
  right: 25px;
  bottom: -18px;
}

.center-left:before {
  bottom: 13px;
  left: -20px;
}

.center-right:before {
  bottom: 13px;
  right: -20px;
}

.right-triangle:before {
  @include triangle(10px 10px, $base-bubble $base-bubble, up-left);
}

.active.right-triangle:before {
  @include triangle(10px 10px, $active-bubble $active-bubble, up-left);
}

.highlight.right-triangle:before {
  @include triangle(10px 10px, $highlight $highlight, up-left);
}

.left-triangle:before {
  @include triangle(10px 10px, $base-bubble $base-bubble, up-right);
}

.active.left-triangle:before {
  @include triangle(10px 10px, $active-bubble $active-bubble, up-right);
}

.highlight.left-triangle:before {
  @include triangle(10px 10px, $highlight $highlight, up-right);
}

.mid-left-triangle:before {
  @include triangle(10px, $base-bubble, left);
}

.active.mid-left-triangle:before {
  @include triangle(10px, $active-bubble, left);
}

.mid-right-triangle:before {
  @include triangle(10px, $base-bubble, right);
}

.active.mid-right-triangle:before {
  @include triangle(10px, $highlight, right);
}

.tracks, .speakers {
  .speech-bubble {
    border: 2px solid white;
    background-color: $base-translucid;
    color: $white;
  }

  .active {
    background-color: $active-translucid;
  }

  .right-triangle:before {
    border-color: $base-trans-triangle $base-trans-triangle transparent transparent;
  }

  .active.right-triangle:before {
    border-color: $active-trans-triangle $active-trans-triangle transparent transparent;
  }

  .left-triangle:before {
    border-color: $base-trans-triangle transparent transparent
    $base-trans-triangle;
  }

  .active.left-triangle:before {
    border-color: $active-trans-triangle transparent transparent
    $active-trans-triangle;
  }
}
