// Measurments
$x-small-screen: em(320) !default;
$small-screen: em(640) !default;
$medium-screen: em(860) !default;
$large-screen: em(1280) !default;
$max-page-width: $large-screen;
$min-page-width: $x-small-screen;

// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$base-background: hsla(0,0,50,1);
$white: #fff;
$base-bubble: hsl(63, 61, 48);
$base-translucid: hsla(63, 61, 48, 0.3);
$base-trans-triangle: hsl(63, 26, 34);
$active-bubble: hsl(173, 100, 31);
$active-translucid: hsla(173, 100, 31, 0.2);
$active-trans-triangle: hsl(173, 21, 31);
$form-background: hsla(176, 60, 4.9, 0.7);
$highlight: hsl(174, 52,22);
$flag-yellow: hsl(60, 100, 40);
$flag-blue: hsl(240, 100, 40);
$flag-red: hsl(0, 100, 40);

// Font Colors
$base-background-color: #fff;
$base-font-color: $white;
$action-color: $active-bubble;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Tables
$tab-border-radius: 10px !default;
$tab-border: 1px solid $base-border-color;
$tab-content-background: $active-bubble;
$tab-active-background: lighten($active-translucid, 15%);
$tab-inactive-color: $highlight;
$tab-inactive-hover-color: darken($light-gray, 5);
$tab-mode: $medium-screen;
$table-border-color: $highlight;
$table-border: 1px solid $highlight;
$table-background: lighten(hsla(171,17,68, 0.8), 12%);
$table-header-background: lighten($table-background, 10%);
$table-hover-background: darken($table-background, 5%);
$table-stripe-background: darken($table-background, 2%);
$table-stripe-background-hover: darken($table-stripe-background, 5%);
$table-padding: 0.75em 1em;
