.details
  %p general.organization@worldemeraldsymposium.com
  %p PBX: (+57) 300 556 6195
  %p Bogot&aacute; - Colombia
.right-separator
.aditional-contacts
  %ul
    %li
      Gabriel Angarita
      %span.device-logo= image_tag("whatsapp-icon.svg", width: "25")
      (+57) 310 234 6371

