.details
  %p Nohemi Gualteros
  %p coordinator@worldemeraldsymposium.com
  %p PBX: (+57) 300 556 6195
  %p Bogot&aacute; - Colombia
.right-separator
.aditional-contacts
  %ul
    %li
      Mauricio Var&oacute;n
      %span.device-logo= image_tag("mobile-icon.svg", width: "20")
      (+57) 315 396 9145
    %li
      Gabriel Angarita
      %span.device-logo= image_tag("whatsapp-icon.svg", width: "25")
      (+57) 310 234 6371

