---
title: "1st International Emerald Symposium"
layout: layout
---
%main.form.container
  %aside
    %h1{hidden: true} Formulario de inscripción para ciudadanos de otro pa&iacute;s
    = image_tag "titulo_formulario.png", class: "title"
    = image_tag "pinza_esmeralda.png"
  %article
    .indicates-required
      %span.asterisk*
      indica un campo requerido
    %form.grid{method: "post"}
      %section.right-separator
        %label{for: "nombre"}Nombre
        .grid
          %select.grid-1of4{name: "titulo"}
            %option Sr.
            %option Sra.
          %input.grid-3of4{type: "text", name: "nombre", placeholder: "Nombre"}
        %input{type: "text", name: "apellidos", placeholder: "Apellidos"}
        %label{for: "cedula"}N&uacute;mero de c&eacute;dula
        %input{type: "text", name: "cedula"}
        %label{for: "empresa"}Nombre de la Empresa
        %input{type: "text", name: "empresa", placeholder: "Empresa"}
        %label{for: "campoDeTrabajo"}Campo de Trabajo
        .grid
          .grid-1of2
            %ul
              %li
                %input{type: "checkbox", name: "campoDeTrabajo", id: "ventas"}
                Ventas
              %li
                %input{type: "checkbox", name: "campoDeTrabajo", id: "exhibicion"}
                Exhibición
              %li
                %input{type: "checkbox", name: "campoDeTrabajo", id: "mineria"}
                Miner&iacute;a
              %li
                %input{type: "checkbox", name: "campoDeTrabajo", id: "lapidario"}
                Lapidario
          .grid-1of2
            %ul
              %li
                %input{type: "checkbox", name: "campoDeTrabajo", id: "otro"}
                Otro
              %li
                %input{type: "text", name: "otroCampo", placeholder: "Especifique cuál"}
        %div
          %label{for: "direccion1"}Direcci&oacute;n
          %input{type: "text", name: "direccion1", placeholder: "Dirección 1"}
          %input{type: "text", name: "direccion2", placeholder: "Dirección 2"}
          %input.half-right{type: "text", name: "ciudad", placeholder: "ciudad"}
          %input.half-left{type: "text", name: "estado", placeholder: "Estado/Provincia/Region"}
          %input{type: "text", name: "codigoPostal", placeholder: "Código Postal"}
        %div
          .half-right
            %label{for: "telefono1"}Tel&eacute;fono 1
            %input{type: "tel", name: "telefono1"}
          .half-left
            %label{for: "telefono2"}Tel&eacute;fono 2
            %input{type: "tel", name: "telefono2"}
        %div
          %label{for: "email"}Correo Electr&oacute;nico
          %input{type: "email", name: "email"}
      %section
        %label Fecha de Nacimiento *
        .grid
          %input.datefield{maxlength: "2", name: "BIRTHDAY[month]", pattern: "[0-9]*", placeholder: "MM", size: "2", type: "text", required: true}/
          &nbsp; &#47; &nbsp;
          %input.datefield{maxlength: "2", name: "BIRTHDAY[day]", pattern: "[0-9]*", placeholder: "DD", size: "2", type: "text", value: "", required: true}/
          &nbsp; &#47; &nbsp;
          %input.datefield{maxlength: "4", name: "BIRTHDAY[year]", pattern: "[0-9]*", placeholder: "AAAA", size: "4", type: "text", value: "", required: true}/
          %small ( mm / dd / aaaa )
        %div
          %label{for: "comida"}Tipo de Alimentaci&oacute;n
          %select{name: "comida"}
            %option{ value: "", selected: true }Dieta..
            %option{ value: "vegetariano" }Vegetariana
            %option{ value: "kosher" }Kosher
            %option{ value: "regular" }Regular
        %div
          %ul
            %label{for: "incluye"}Incluir en el plan
            %li
              %input{type: "checkbox", name: "incluye"}
              Acceso VIP
              %small (Alimentaci&oacute;n, eventos especiales, no incluye tours)
            %li
              %input{type: "checkbox", name: "incluye"}
              Estad&iacute;a en el hotel donde se realiza el evento
              %small (Habitaci&oacute;n con cama doble, ba&ntilde;o privado, televisi&oacute;n y desayunos)
        %section
          %br
          %p
            Este formulario es de
            %b PREINSCRIPCI&Oacute;N.
          %p A vuelta de correo recibir&aacute; la confirmaci&oacute;n para poder ingresar al evento
          %h2{style: "text-align:center;"} CUPOS LIMITADOS
        %button.submit-payment{type: "submit"}Enviar Formulario
      %footer
        %h1 El pago de la inscripci&oacute;n incluye
        %p
          Experiencia única de construcci&oacute;n de conocimiento &bull; |
          Acceso a todas las zonas del evento &bull;                      |
          Memorias del evento &bull;                                      |
          Kit de bienvenida &bull;                                        |
          Certificado de asistencia &bull;                                |
          Coffee Break AM y PM                                      |
    .limited-ribbon
      Cupos limitados
