---
title: "1st International Emerald Symposium"
layout: layout
---
%main.container.registration
  %section.container
    %section.form-gateway
      %h1= t("non-citizen-form-title")
      = localized_link_to "non-citizen-registration" do
        %button= t(:register)

