---
title: "1st International Emerald Symposium"
layout: layout
---
%main.container
  %section.mission-statement
    %aside
      = image_tag "full_be_change_logo.png"
    %article
      %h2 Descripci&oacute;n del proyecto
      %p.highlight
        1er Simposio Internacional de la Esmeralda 2015, es la plataforma de negocios donde         |
        los protagonistas de la industria realizan un intercambio de informaci&oacute;n             |
        sectorial a nivel internacional en donde confluyen los principales países productores       |
        de esmeraldas, laboratorios de certificaci&oacute;n, empresas comercializadoras,            |
        grandes marcas, sector gobierno y asociaciones internacionales relacionadas con las         |
        piedras de color, de tal forma que se comparta el arte y se consoliden las pol&iacute;ticas |
        de promoci&oacute;n, embellecimiento, desarrollo y dem&aacute;s temas inherentes            |
        a la industria mundial de la esmeralda, convirtiendose as&iacute; en el escenario           |
        ideal de capacitaci&oacute;n y actualizaci&oacute;n acad&eacute;mica de alto nivel          |
        e intercambio de experiencias para los profesionales m&aacute;s representativos del         |
        sector.                                                                                     |
      %h2 &iquest;Por qu&eacute; un simposio&quest;
      %p.highlight
        Porque se busca una participaci&oacute;n activa de los participantes, aportando conocimiento |
        e intercambiando ideas para estar a la vanguardia en el sector.                              |
      %h2 Finalidad del Simposio
      %p.highlight
        Ser pioneros y liderar un evento internacional, construyendo conjuntamente conocimientos y |
        experiencias innovadoras, en torno a la investigaci&oacute;n, avances, desarrollo, y       |
        ejecuci&oacute;n de los procesos inherentes a la industria mundial de la esmeralda.        |
  %section.why-attend
    .title
      %h1 Razones para asistir al Simposio
      = image_tag "full_be_change_logo.png"
    %ul.left-reasons
      %li.highlight.speech-bubble.right-bottom.right-triangle
        Contar con un amplio portafolio acad&eacute;mico con conferencistas internacionales |
        conocedores del tema y donde participan expertos nacionales de alto nivel.          |
      %li.highlight.speech-bubble.right-bottom.right-triangle
        Concentraci&oacute;n del sector objetivo en un solo lugar.
      %li.highlight.speech-bubble.right-bottom.right-triangle
        Por ser el primer simposio de este genero que se realiza a nivel mundial.
      %li.highlight.speech-bubble.right-bottom.right-triangle
        Intercambio de experiencias con los profesionales m&aacute;s destacados del sector.
      %li.highlight.speech-bubble.right-bottom.right-triangle
        Estar en contacto con p&uacute;blico especializado y conocedor del tema, para replicar |
        en sus proyectos.                                                                      |
      %li.highlight.speech-bubble.right-bottom.right-triangle
        Brindar excelentes oportunidades de negocios en el sector de la esmeralda.
    %ul.right-reasons
      %li.highlight.speech-bubble.left-bottom.left-triangle
        Para conocer los productos y servicios de los proveedores m&aacute;s calificados |
        del mercado en Colombia.                                                         |
      %li.highlight.speech-bubble.left-bottom.left-triangle
        Para conformar una comunidad a niver internacional que adopte un modelo de vida |
        en negociaci&oacute;n y comercializaci&oacute;n de piedras preciosas.           |
      %li.highlight.speech-bubble.left-bottom.left-triangle
        Para estar actualizado e interactuar con los expertos nacionales e internacionales |
        para conocer el comportamiento y tendencias del mercado.                           |
      %li.highlight.speech-bubble.left-bottom.left-triangle
        Es una plataforma de innovaci&oacute;n, donde el aprendizaje siempre est&aacute; |
        unido a la pr&aacute;ctica.                                                      |
      %li.highlight.speech-bubble.left-bottom.left-triangle
        Oportunidad de capacitar, ense&ntilde;ar y difundir modelos exitosos aplicados |
        al sector.                                                                     |
      %li.highlight.speech-bubble.left-bottom.left-triangle
        Registro sistematizado para compradores y visitantes.
