---
title: "1st International Emerald Symposium"
layout: layout
---
%main.container
  %section.mission-statement
    %aside
      = image_tag "full_be_change_logo.png"
    %article
      %h2 Project Description
      %p.highlight
        The 1st International Emerald Symposium, 2015, is the business platform where         |
        international industry players exchange knowledge and information. Producing countries, |
        gemological laboratories, wholesale companies, big brands, government, and coloured     |
        gemstone international associations will converge to one venue to share the state    |
        of the art, and to consolidate promotion, production, enhancement, and other policies   |
        related to the world emerald business, thus becoming the ideal stage to gain knowledge  |
        and a high profile academic update, as well as to exchange experiences with the     |
        most representative professionals in the field.                                         |
      %h2 Why a Symposium?
      %p.highlight
        Because the goal is to actively integrate participants by sharing knowledge and |
        exchanging ideas to be at the forefront of the business.                        |
      %h2 Symposium Objective
      %p.highlight
        To be pioneers and lead an international event, where we can jointly build        |
        knowledge and innovative experiences, around research,                            |
        R&amp;D advances, and execution of the inherent processes on the emerald industry |
        in the world.                                                                     |
  %section.why-attend
    .title
      %h1 Why attend the symposium
      = image_tag "full_be_change_logo.png"
    %ul.left-reasons
      %li.highlight.speech-bubble.right-bottom.right-triangle
        Broad spectrum of academic lectures from knowledgeable national and international |
        speakers |
      %li.highlight.speech-bubble.right-bottom.right-triangle
        The main players of the emerald business will be located in a single venue for |
        three days |
      %li.highlight.speech-bubble.right-bottom.right-triangle
        It&rsquo;s the first event of it&rsquo;s kind to be held in the world
      %li.highlight.speech-bubble.right-bottom.right-triangle
        Networking and experience sharing with the foremost professionals in the emerald |
        field |
      %li.highlight.speech-bubble.right-bottom.right-triangle
        To get in touch with a specialized and knowledgeable audience, to replicate ideas and |
        projects in your own environment |
      %li.highlight.speech-bubble.right-bottom.right-triangle
        Excellent business opportunities with both clients and suppliers
    %ul.right-reasons
      %li.highlight.speech-bubble.left-bottom.left-triangle
        Get a first hand experience of products and services from the most qualified colombian |
        suppliers |
      %li.highlight.speech-bubble.left-bottom.left-triangle
        To form a global community of shared interests on the emerald business
      %li.highlight.speech-bubble.left-bottom.left-triangle
        To be updated and to interact with national and international experts in order to |
        understand market trends and behaviour
      %li.highlight.speech-bubble.left-bottom.left-triangle
        It&rsquo;s an innovation platform where learning us enhanced by practice
      %li.highlight.speech-bubble.left-bottom.left-triangle
        It&rsquo;s an opportunity to share, teach and spread best practices around the |
        emerald business |
      %li.highlight.speech-bubble.left-bottom.left-triangle
        Streamlined registration process for both buyers and visitors alike

