---
title: 1st International Emerald Symposium
layout: layout
---
%main.container
  %section
    = image_tag("be_change_logo_#{I18n.locale.to_s}.png")
  %section
    %h1= t(:thank_you)
    %p= t(:registration_instructions)
