.header-container
  %header.wrapper.clearfix
    %h1.title h1.title
    %nav
      %ul
        %li
          %a{href: "#"}Home
        %li
          %a{href: "#"}Symposium
        %li
          %a{href: "#"}Schedule
        %li
          %a{href: "#"}Registration
        %li
          %a{href: "#"}Recommendations
        %li
          %a{href: "#"}Contact
